#!/bin/bash
set -e
chmod +x /root/allora-node/worker10/init.config && /root/allora-node/worker10/init.config
chmod +x /root/allora-node/worker20/init.config && /root/allora-node/worker20/init.config
chmod +x /root/allora-node/worker24/init.config && /root/allora-node/worker24/init.config

cd /root/allora-node/worker10
docker-compose up -d

cd /root/allora-node/worker20
docker-compose up -d

cd /root/allora-node/worker24
docker-compose up -d
